.container {
    margin: 32px 16px;
    display: flex;
    border: solid;
    height: 500px;
    width: 500px;
    flex: 1;
    flex-wrap: wrap;
    align-items: center;    
    justify-content: center;
}

.square {
    border: solid;
    border-width: 1px;
    margin: 0;
}