.container {
    box-sizing: content-box;
    margin: 32px 16px;
    display: flex;
    border: solid;
    border-width: 1px;
    height: 800px;
    width: 800px;
    flex: 1;
    flex-wrap: wrap;
    align-content: flex-start;
    justify-content: center;
}

.square {
    box-sizing: border-box;
    border: solid;
    border-width: 1px;
    margin: 0px;
}